aria2
requests
aiohttp
hachoir
heroku3
wget
Pillow
pyromod
psutil
TgCrypto
motor
dnspython
ffmpeg
ffmpeg-python
yt-dlp
git+https://github.com/ali-mmagneto/gerek02
git+https://github.com/jonathanong/heroku-buildpack-ffmpeg-latest.git
python-dotenv
pyrogram
aiofiles
streamlit
